*{
    margin: 0px;
    padding 0px;
}
.headerContainer{
    background-color: pink;
    /* border: solid red; */
    height: 10vh;
}
.scrollBar{
    /* border: solid black; */
    height: 25px;
    display: flex;
    justify-content: center;
    
}
.searchBar{
    background-color: white;
    height: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
    
    padding-left: 35px;
    height: 35px;
}

.logoImg{
    height: 100%;
    width: 100%;
}
.searchContainer{
    display: flex;
    

}
.icon{
    height: 30px;
    width: 30px;
}
.navBar{
    margin-top: 10px;
    background-color: white;
    /* border: solid blue; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px ;
}