*{
    margin: 0px;
    padding 0px;
}
.headerContainer{
    background-color: pink;
    /* border: solid red; */
    height: 10vh;
}
.scrollBar{
    /* border: solid black; */
    height: 25px;
    display: flex;
    justify-content: center;
    
}
.searchBar{
    background-color: white;
    height: 65px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo{
    
    padding-left: 35px;
    height: 35px;
}

.logoImg{
    height: 100%;
    width: 100%;
}
.searchContainer{
    display: flex;
    

}
.icon{
    height: 30px;
    width: 30px;
}
.navBar{
    margin-top: 10px;
    background-color: white;
    /* border: solid blue; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px ;
}
.contents{
    font-family: Arial,  sans-serif;
    font-size: 11.25px;
}
.discoverContainer{
    margin-top: 50px;
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37vh;
}
.disTitle,.styleTitle{
    font-size: 46px;
    font-family: Arial,sans-serif ;
    font-weight: bolder;
}
.disText{
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-family: Arial,  sans-serif;
}
.featuredBar{
    display: flex;
    justify-content: center;
    font-family: Arial,  sans-serif;
    font-size: 15px;
}
.featContent{
    padding-left: 20px;
}
.featuredContainer{
    display: flex;
    justify-content: space-evenly;
    font-size: 28px;
    font-family: Arial,sans-serif ;
    font-weight: bolder;
    /* margin: 20px 300px 0px 0px; */
}
.feat,.mPop{
    margin: 20px 350px 0px 0px;
}
.rad{
   height: 690px;
   width: 600px;
}
.Don{
    height: 350px;
    width: 250px;

}
.love{
    height: 350px;
    width: 250px;
}
.featImgContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.stayRad{
    /* border: solid black; */
   /* width: 50%; */
   margin:0px 20px 0px 320px;
}
.featLove{
    height: 20vh;
 /* border: solid black; */
 margin-right: 25px ;
}
.featDonald{
    /* border: solid black; */
margin-right: 225px;
}
.textDeats1,.latestDeats{
font-size: 12px;
font-family: Arial;
margin: 15px;
}
.textDeats2{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    margin: 15px;
}
.textDeats3{
    font-size: 19px;
    font-family: Arial;
    margin: 15px;
}
.textDeats4{
    font-size: 12px;
    font-family: Arial;
    text-decoration: underline  pink;
    margin: 15px;
}
.textDeats5{
    font-size: 14px;
    font-family: Arial;
    margin: 15px;   
}
.weThinkContainer{
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
    padding-left: 100px;
    margin-top: 90px;
}
.jeweleryContainer{
    /* border: solid black; */
    display: flex;
    height: 38vh;
    
}
.jewel{
    background-color: rgb(245, 241, 241);
    
}
.styleContainer{
    
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37vh;
    
}
.disMore{
    background-color: black;
    color: white;
    height: 38px;
    padding: 0px 24px 0px 24px;
    
    
}

.styleImgContainer{
    display: flex;
    justify-content: space-between;
}
.style{
    height: 400px;
    width: 400px;
}
.sustainContainer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 71vh;
    padding: 0px 20px 0px 20px;
    margin: 0px 60px 0px 60px;
}
.sust{
    height: 350px;
    width: 550px;
    padding: 25px;
}
.sust1{
    height: 670px;
    padding: 35px 25px 0px 20px  ;
}
.explorePan{
    margin: 80px 0px 40px 0px;
    display: flex;
    justify-content: space-evenly;
    font-size: 28px;
    font-family: Arial,sans-serif ;
    font-weight: bolder;  
}
.explorePanContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.exploreImg{
    text-align: center;
}
.ex{
    height: 255px;
    width: 255px;
}
.getLatest{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0px 60px 0px 60px; */
    background-color: rgb(245, 241, 241);
    
}
.signUp{
    background-color:rgb(105, 104, 104) ;
    color: white;
    margin-right: 120px;
    padding: 20px 20px 25px 20px;
    height: 40px;
    
    
    
}
.email{
margin-left: 289px;
height: 40px;
}
.exploreMoContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 241, 241);
}
.footerCon{
    display: flex;
    justify-content: f;
}